/*COLORS VARIABLES*/
/*FONTS VARIABLES*/
/*GLOBAL STYLES*/
* {
  padding: 0;
  margin: 0;
}

p {
  font-family: "Raleway", sans-serif;
}

*::-moz-selection {
  background-color: #9ac2f2;
}

*::selection {
  background-color: #9ac2f2;
}

h1 {
  font-family: "Gloock", serif;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #407bc2;
}

h4 {
  font-family: "Lora", serif;
}

nav {
  background-color: #403092;
}
nav .navbar-nav {
  gap: 20px;
}
nav li:hover {
  transform: scale(1.1);
}

/*-------------*/
/* I N D E X */
/*-------------*/
.banner-img {
  width: 100%;
}

.about {
  padding: 30px;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.about .card {
  margin: auto;
  padding: 20px 30px;
  min-width: 200px;
}
.about .profile-img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 5px solid #6da4e7;
  box-shadow: 2px 2px 5px #939393;
  padding: 2px;
}

/*-------------*/
/* H O B B I E */
/*-------------*/
.hobbies {
  padding: 30px;
  text-align: center;
}
.hobbies img {
  width: 300px;
  padding: 10px;
}
.hobbies button {
  width: 200px;
  border-radius: 6px;
  padding: 3px 10px;
  border: 2px solid #9ac2f2;
  background-color: #ffffff;
  color: #6da4e7;
}
.hobbies button:hover {
  background-color: #9ac2f2;
  color: #ffffff;
}

#table-hobbie {
  display: flex;
  justify-content: center;
}

.table {
  width: 90%;
  border: 1px solid #6da4e7;
  display: flex;
  flex-wrap: wrap;
}
.table tr:first-child {
  background-color: #6da4e7;
  color: #ffffff;
}
.table td img {
  width: 350px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-------------*/
/*E S T U D I O*/
/*-------------*/
.estudios {
  text-align: center;
  padding: 30px 50px;
  margin: 0;
}
.estudios img {
  width: 50%;
  max-width: 520px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

/*-------------*/
/*G A L L E R Y*/
/*-------------*/
.galeria {
  text-align: center;
  padding-top: 30px;
}
.galeria .grid-container {
  display: grid;
  padding: 30px;
  gap: 30px;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
}
.galeria .grid-container img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #939393;
  border: 3px solid #ffffff;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background-color: #407bc2;
  color: #cecece;
  align-items: center;
  /*COLUMNA #1*/
  /*COLUMNA #2*/
  /*COLUMNA #3*/
}
footer h4, footer h5 {
  color: #ffffff;
}
footer .footer-info img {
  width: 100px;
}
footer .footer-contacto p::-moz-selection, footer .footer-contacto strong::-moz-selection {
  color: #407bc2;
}
footer .footer-contacto p::selection, footer .footer-contacto strong::selection {
  color: #407bc2;
}
footer .footer-contacto form input, footer .footer-contacto form button {
  border-radius: 6px;
  padding: 3px 10px;
  border: 2px solid #9ac2f2;
}
footer .footer-contacto form button {
  background-color: #6da4e7;
  color: #ffffff;
}
footer .footer-contacto form button:hover {
  background-color: #9ac2f2;
  border: 2px solid #ffffff;
}
footer .footer-contacto form input::-moz-placeholder {
  color: #407bc2;
}
footer .footer-contacto form input:-ms-input-placeholder {
  color: #407bc2;
}
footer .footer-contacto form input, footer .footer-contacto form input::placeholder {
  color: #407bc2;
}
footer .footer-contacto form input::-moz-selection {
  color: #ffffff;
}
footer .footer-contacto form input::selection {
  color: #ffffff;
}
footer .footer-social img {
  width: 35px;
}

@media (max-width: 650px) {
  .about {
    flex-direction: column;
  }
  footer > div {
    flex-direction: column;
    gap: 30px;
  }
  .galeria .grid-container {
    grid-template-columns: repeat(2, auto);
  }
  .estudios img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */