/*-------------*/
/*Global Styles*/
/*-------------*/
*{
    padding: 0;
    margin: 0;
}

nav{
    z-index: 1;
    background-color: #403092; /*---*/
}

.container-fluid-main{
    padding: 50px;
}

.card{
    padding: 15px;
}

main img{
    max-width: 300px;
}

footer{
    padding: 20px;
    background-color: skyblue; /*---*/
    text-align: center;
}

footer > img{
    width: 50px;
}

.footer-social img{
    width: 30px;
}

/*-------------*/
/* I N D E X */
/*-------------*/
.banner-img{
    width: 100%;
    position: relative;
}

.profile-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 300px;
    left: 10%;
    border-radius: 50%;
    border: 8px solid skyblue; /*---*/
    box-shadow: 0px 2px 5px grey; /*---*/
    z-index: 2;
}

.about{

}

table{
    max-width: 800px;
}

